<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>2016 HB Election</title>
  </head>
  <body>
    Welcome to the 2016 Hathaway Brown Election.
      <form action="/process" method="post">
        Please type in the first part of your HB email (eg. ssadler10):<br>
        <input type="text" name="username">
        <br>
        <input type="submit" value="Ready!">
      </form>

  </body>
</html>
