<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>2016 HB Election</title>
  </head>
  <body>
    Welcome to the 2016 Hathaway Brown Election. Ready to vote?
    <button type="button">Ready!</button>
  </body>
</html>
