<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You Can't Vote Twice!</title>
  </head>
  <body>
    Sorry, you've already voted in this election. Thanks for your support.
    <a href="/">Go Back Home</a>
  </body>
</html>
