<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Senate Election</title>
      <link rel="stylesheet" href="css/vote.css" media="screen" title="no title">
  </head>
  <body>
    <br>
    <center><h1>VOTE FOR A SENATE CANDIDATE<h1></center>
  <br><br>  <form action="/voting2" method="post">
      <label for="question1"></label><br>
        <input type="radio" name="president" value="portman"><b>Rob Portman, incumbent Senator</b><br>
      Rob Portman (b. December 19, 1955, in Cincinnati, OH) is a Republican member of the U.S. Senate from Ohio. Portman was first elected to the Senate in 2010 and is currently serving his first term. Portman was considered to be a possible candidate for Mitt Romney's choice of a vice presidential candidate in 2012, but ultimately he was not selected.<br><br>
    <input type="radio" name="president" value="strickland"><b>Ted Strickland, former Governor of Ohio and former U.S. Representative</b><br>
      Ted Strickland (born August 4, 1941) is a Democratic politician and a former Governor of Ohio. Strickland is a 2016 candidate seeking election to the U.S. Senate from Ohio.Before his election as Governor in 2006, he served six terms as a member of the United States House of Representatives from Ohio’s 6th District.In September 2013, President Barack Obama appointed Strickland to be one of five alternate representatives to the U.S. delegation to the United Nations. Strickland ran for re-election as Governor of Ohio in the 2010 election. He lost to Republican John Kasich.<br><br>
      <input type="radio" name="president" value="demare"><b>Joe DeMare, factory worker and environmentalist</b><br>
      Joseph "Joe" DeMare is a 2016 Green party candidate seeking election to the U.S. Senate from Ohio.DeMare was a 2012 Green Party candidate who sought election to the U.S. Senate from Ohio. He lost in the general election on November 6, 2012.<br><br>
      <input type="radio" name="president" value="rupert"><b>Scott Rupert, truck driver and candidate for senate in 2012</b><br>
    Scott Rupert is a 2016 independent candidate seeking election to the U.S. Senate from Ohio.Rupert was a 2012 independent candidate who sought election to the U.S. Senate from Ohio. He lost in the general election.<br><br>
      <input type="radio" name="president" value="conners"><b>Tom Conners</b><br>
      Thomas William Connors is a 2016 independent candidate seeking election to the U.S. Senate from Ohio.<br><br>
<br>
      <center><input type="submit" value="Vote!"></center>
    </form>
    <br/>
<br/>
<br/>
<br/>
<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" width="70" height= "60" align="bottom">
<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/005/096/19d/3689cff.png" width="70" height="70">
<img src="https://upload.wikimedia.org/wikipedia/en/e/e3/DemocraticLogo.png" width="70" height="70"></center>
  </body>
</html>
